.header {
  height: 877px;
  background: linear-gradient(155.28deg, #383638 2.06%, #0b0b0b 33.08%);
  position: relative;

  &__div-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 23px;
  }
  &__div-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
  }
  &__h1 {
    width: 391px;
    font-size: 64px;
    line-height: 80.32px;
    color: #ffffff;
  }

  &__p {
    font-size: 16px;
    line-height: 20.08px;
    width: 366px;
    color: #8b8e99;
    padding-top: 20px;
    padding-bottom: 47px;
  }
  &__input {
    padding-left: 56px;
    border: none;
    background-color: #ffffff;
    border-radius: 15px;
    width: 360px;
    height: 50px;
  }
  &__btn {
    top: 397px;
    left: 265px;
    position: absolute;
    background-color: #3858d6;
    color: #ffffff;
    font-size: 18px;
    line-height: 22.59px;
    text-align: Center;
    padding: 6px 14px;
    border-radius: 9px;
    border: none;
  }
  &__div-rght {
    position: relative;
  }
  &__img-btn {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 403px;
    left: 19px;
  }
}
